@import url(./header/header.css);
@import url(./article/article.css);
@import url(./scrollbar/scrollbar.css);
@import url(./title/title.css);
@import url(./menu/menu.css);
@import url(./buttons/social.css);
@import url(./buttons/callback.css);
@import url(./buttons/status.css);
@import url(./buttons/close.css);
@import url(./buttons/search.css);
@import url(./buttons/order.css);
@import url(./buttons/read-more.css);
@import url(./buttons/offer.css);
@import url(./section/section.css);
@import url(./brands/brands.css);
@import url(./swiper/swiper.css);
@import url(./repairs/repairs.css);
@import url(./prices/prices.css);
@import url(./mark/mark.css);
@import url(./footer/footer.css);
@import url(./modals/modal.css);


@font-face {
  font-family: "TTLakes-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Regular.woff");
}

@font-face {
  font-family: "TTLakes-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Medium.woff");
}

@font-face {
  font-family: "TTLakes-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Bold.woff");
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: "TTLakes-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: url(../img/cover.jpg);

}

.body--overflow--hidden{
  overflow: hidden;
}

.container {
  padding: 0 16px;
}


button {
  border: 0;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  background-color: #F8F8F8;

}

.main {
  border-top: 1px solid #D9FFF5;
}





@media (min-width: 768px) {
    .container {
      padding: 0 24px;
    }   
}

@media (min-width: 1440px) {
  .container {
    padding: 0 32px;
  }

  .main {
    width: 1120px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .content {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

