@import url(../swiper/swiper.css);

/* .brands {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 12px 0;
} */

/* .brands::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%,
    rgb(255, 255, 255) 100%);
} */

.brands__item {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 16px; 
    margin-right: 16px;
} 



/* brands logo */

.brands__item--lenovo {
    background: url(./../../img/lenovo.svg) no-repeat 16px 50% #fff;
}

.brands__item--samsung {
    background: url(./../../img/samsung.svg) no-repeat 16px 50% #fff;
}

.brands__item--apple {
    background: url(./../../img/apple.svg) no-repeat 16px 50% #fff;
}

.brands__item--bosch {
    background: url(./../../img/bosch.svg) no-repeat 16px 50% #fff;
}

.brands__item--hp {
    background: url(./../../img/hp.svg) no-repeat 16px 50% #fff;
}
.brands__item--acer {
    background: url(./../../img/acer.svg) no-repeat 16px 50% #fff;
}

@media (min-width: 768px) {

    .brands {
        display: grid;
        grid-template-areas: 
        "el el el"
        "el el el"
        "el el el";
        margin: 0;
        gap: 0 15px;
        height: 100%;
        
    }

    .brands__item {
        width: 224px;
        margin-right: 0;
    }
}

@media (min-width: 990px) {
    .brands {
        grid-template-areas: 
        "el el el el"
        "el el el el"
        "el el el el";
    }

    .brands__item {
        width: 224px;
    }
}

@media (min-width: 1120px) {
    .brands__item {
        width: 240px;
    }
}