@import url(../../style.css);
@import url(menu-header/menu-header.css);
@import url(menu-main/menu-main.css);
@import url(menu-footer/menu-footer.css);

.menu {
    width: 320px;
    position: fixed;
    box-shadow: 15px 0px 20px -5px rgb(197 197 197);
}

