.article-wrapper {
    margin-bottom: 24px;
    margin-top: 24px;
}

.article__text {
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 0;
    height: 88px;
    width: 95%;
    overflow: hidden;
}

.article__text p {
    margin: 0;
    padding: 0;
}

.article__img-logo {
    width: 100vw;
    height: auto;
}


@media (min-width: 768px) {
    .article-wrapper {
        display: flex;
    }

    .article__text {
        height: 159px;
        line-height: 20px;
    }

    .article__img-logo {
        height: 250px;
        width: 380px;
        padding-right: 25px;
    }
}


@media (min-width: 1120px) {
    .article-wrapper {
        margin-top: 0px;
    }


    .article-wrapper {
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .article__text {
        line-height: 18px;
        margin-bottom: 0;
        height: 160px;
        width: 95%;
        overflow: hidden;
    }

    .article__text p {
        margin: 0;
        padding: 0;
    }

    .article__read-more {
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0;
        font-weight: 700;
    }

    .article__read-more svg {
        margin-right: 16px;
    }

    .article__img-logo {
        width: 100vw;
        height: auto;
    }
}

